
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  padding: 20px;
  color: #848484;
  position: sticky;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar h3 {
    color: #848484;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.sidebar li a {
  display: flex;
  align-items: center;
  color: #848484;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.sidebar li a:hover {
  background-color: #34495e;
}

.sidebar li a .icon {
    margin-right: 10px;
}
